/* 
main colo #11a2b2
*/

.no-padding{
    padding: 0 !important;
}

.no-margin{
    margin: 0 !important;
}

body{
    background-color: #f6f6f6 !important;
}

.navbar{
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px; */
    background: #ffffff;
    height: 70px;
    max-width: 100vw;
    border-bottom: 1px solid rgba(128, 128, 128, 0.22);
}

.navbar-logo{
    max-width: 70px;
}

.navbar-wall-item{
    max-width: 70px;
}

.search-container{
    top: 69px;
    max-width: 100vw;
    z-index: 1031;
    position: fixed;
    padding: 0;
}
.nav-collapse{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 15px 0px;
    margin: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-card-card-body{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    background: #FFFFFF!important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.nav-search-item-container{
    position:relative;
    padding:0;
    margin:0;
}

.nav-search-item-container img{
    position:absolute;
    bottom: 11px;
    left: 10px;
    width: 25px;
    height: 25px;
}

.nav-search-item{
    margin-bottom: 5px;
    color: #97a4ab!important;
    border: 1px solid #CFD8DC;
    border-radius: 20px;
    background-color: #FFFFFF;
    height: 40px;
    width: 100%;
    padding-left: 2em;
    text-indent: 0.5em;
    padding-right: 1em;
}

.nav-search-location-container{
    position:relative;
    padding:0;
    margin:0;
}

.nav-search-location-container img{
    position:absolute;
    bottom: 17px;
    left: 10px;
    width: 25px;
    height: 25px;
}

.nav-search-location{
    color: #97a4ab!important;
    border: 1px solid #CFD8DC;
    border-radius: 20px;
    background-color: #FFFFFF;
    height: 40px;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 2em;
    text-indent: 0.5em;
    padding-right: 1em;
}

.nav-search-item, .nav-search-location:focus{
    outline: none !important;
}

.search-button-container{
    text-align: center;
    position: relative;
}

.search-button{
    border-radius: 30px;
    height: 49px;
    margin-top: -25px;
    outline: none;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
}

.search-button:focus{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
}

.btn:focus{
    outline: none !important;

}

.wall-item-container{
    margin-top: 20vh;
}

.wall-item-container-sm{
    width: 100%;
    background: white;
    border: 1px solid rgba(128, 128, 128, 0.15);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.wall-item-sm{
    margin: 5px;
    display: flex;
}

.wall-item-name-sm{
    font-size: 20px;
    font-weight: 600;
}

.wall-item-profession-sm{
    color: gray;
    font-weight: 200;
}

.wall-item-prof-spec-sm{
    color: gray;
    font-style: italic;
    font-weight: 200;
}

.wall-item-looks-for-sm{
    display: flex;
    display: flex;
    max-width: 95vw;
    margin-bottom: 5px;
}

.wall-item-looks-for-sm .col-3{
    padding-right: 0;
}

.wall-item-looks-for-sm img{
    height: 40px;
    margin-right: 5px;    
}

.looksfor-item{
    align-items: center;
    display: flex;
}

.looksfor-item p{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.expirience-container-sm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.expirience-sm{
    display: flex;
}

.expirience-sm img{
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.expirience-years{
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}

.award-sm img{
    height: 40px;
    width: auto;
}

/* ***************************** */
/* PROFILE */

.profile-container{
    flex-direction: column;
}

.profile-photo-lg{
    border: 7px solid white;
}

.profile-fulname{
    text-align: center;
}

.profile-fulname h6{
    font-size: 30px;
    color: #7d7d7d;
}

.profile-info-container{
    background: white;
    margin: 60px 5px 5px 5px;
    padding: 5px;
}

.section-connect{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.profile-connect-btn{
    background: #11a2b2;
    color: white;
    border-radius: 30px;
}

.profile-social-btn{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
    background: white;
    border-radius: 30px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.profile-about-container{
    margin: 30px 5px 5px 5px;
}
.profile-expirience-sm{
    display: flex;
    align-items: center;
}

.profile-expirience-sm img{
    margin-right: 3px;
}

.profile-studies-sm{
    display: flex;
    align-items: center;
}

.profile-studies-sm img{
    margin-right: 3px;
}


.profile-profession-sm{
    display: flex;
    align-items: center;
}

.profile-profession-sm img{
    margin-right: 3px;
}

.profile-details-text{
    margin-top:30px;
}

.profile-looksfor-container{
    background: white;
    margin: 15px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.24);
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    
}

.profile-looksfor-container img{
    height: 50px;
}


/* END PROFILE */
/* ******************************* */





















/* IMAGE CROP */

.frame-square,
.frame-round {
  padding: 10px;
  width: 75px;
  height: 75px;
}

.frame-round-lg{
  padding: 10px;
  width: 150px;
  height: 150px;
}

.frame-round-md{
    padding: 10px;
    width: 100px;
    height: 100px;
}

.frame-round,
.frame-round-lg,
.frame-round-md {
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.frame-round .crop,
.frame-round-lg .crop,
.frame-round-md .crop {
  border-radius: 50%;
}

.crop {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.crop img {
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  max-width: 170%;  /* needs to adjust for portrait mode */
  display: block;
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
}



small {
  display: block;
  font-weight: normal;
  opacity: .8;
}
/* END IMAGE CROP */

